~$*
.DS_Store
.content
all.html
commonWords.txt
icml/*
html/*
website/*
!website/style.css
__pycache__/*
docx/*
docx/DeannaHerst.docx
docx/AldjevanMeer.docx
docx/\.DS_Store
pdf/*
!pdf/style.pdf.css
sketch*
txt/
txt/*
prototypes/
prototypes/*
StaffResearch-blueprint.docx
StaffResearch-blueprint.md
test.pdf
tests/
tmp_function.py
weasyprint
weasyprint.log

