~$*
.content
all.html
commonWords.txt
icml/*
html/*
website/*
!website/style.css
__pycache__/*
docx/*
docx/DeannaHerst.docx
docx/AldjevanMeer.docx
docx/\.DS_Store
pdf/*
!pdf/style.pdf.css
*\.DS_Store*
sketch*
txt/
txt/*
!txt/.track
prototypes/
prototypes/*