 /* style for PDF of publication */

@import url('https://fonts.googleapis.com/css?family=KoHo&display=swap');

@page {
    size: 14.8cm 21cm;
    padding: 0; /* width height */ 
    /* OR */
    /* size: A5 portrait; 
    padding-top:8%;
    padding-bottom: 16%;*/
    marks: crop;
    bleed: 5mm; /* Bigger bleed as weasyprint draws the cropmarks within the bleed*/
}

@page:first {
@bottom-center { content: ""; }
@bottom-right { content: ""; }
}

@page:right {
  padding-left: 0cm; /*inner margin*/
  padding-right:0cm; /*outer margin*/ 

  @top-center {
  content: string(doctitle);
  font-family: 'KoHo', sans-serif;
          font-size: 70%;
    text-align: left;
    padding: 0;
    width: 1ch;
  overflow: hidden;
  white-space: nowrap;

        }

	@bottom-center {
       content: counter(page);
          font-family: 'KoHo', sans-serif;
          font-size: 70%;


	}
}

@page:left {
  padding-right: 0cm; /*inner margin*/
  padding-left: 0cm; /*outer margin*/

  	@top-center {
      content: string(doctitle);
      font-family: 'KoHo', sans-serif;
      font-size: 70%;
      text-align: left;
      padding: 0;
      width: 1ch;
      overflow: hidden;
      white-space: nowrap;

    }

    @bottom-center {
      content: counter(page);
      font-family: 'KoHo', sans-serif;
      font-size: 70%;
    }

}


body{
    font-size: 10pt;
    line-height: 13pt;
    font-family: KoHo;
    text-decoration: none;
    color: black;
 }

h1 {
  
	page-break-before: always !important; /*break page before h1*/
  font-family: 'KoHo', sans-serif;
  font-size: 20pt;
  line-height: 23pt;
  margin-bottom: 0;
  padding-bottom: 0;
  margin: 0;
  padding: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}


#the-autonomous-fabric, 
#what-is-autonomy,
#art-and-design-in-new-economies-speculative-scenarios-for-real-life-innovations,
#an-invitation-a-workshop-a-skype-conversation-and-some-questions,
#the-workshop-of-other-knowledge,
#post-scripted-script-of-a-pechakucha-talk,
#strategies-of-reclaiming{
  string-set: doctitle content();
}

h2 {
  margin-bottom: 0;
  padding-bottom: 0;
	page-break-before: avoid !important; /*break page before h2*/
}

h1::after {

  margin-top: 0;
  padding-top: 0;

  }

 h2{
  padding-bottom: 1mm;
  
 } 

 h3{
  padding-bottom: 1mm;
  margin-bottom: 0;
  padding-bottom: 0;
 }

 h4{
  margin-left: 1cm;
  font-weight: normal;

 }

h5{
  font-size: 80%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-bottom: 1mm;
  font-weight: normal;
  page-break-before: always !important;
}

h6{
  font-size: 80%;
  
  font-weight: normal;
  margin:0;
}


  
img{    
	page-break-inside: avoid!important; 
  width: 100%;
}

p{
  margin-top: 0;
  padding-top:0;
 
      
}

a {
	text-decoration: none;
  color: black;
}

/**
  Insert numbers after toc item in toc
*/
#toc:before {
  content: "Table of contents";
  page-break-before: always !important; /*break page before h1*/
  font-family: 'KoHo', sans-serif;
  font-size: 20pt;
  line-height: 23pt;
  margin-bottom: 0;
  padding-bottom: 0;
  margin: 0;
  padding: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: bold;
}
#toc li a::after {
  float: right;
  content: target-counter(attr(href), page);
}

#toc li{
  text-decoration: none;
  list-style-type:none;
  margin-left: 0;
}

ul,li,blockquote{
  margin:0;
  padding:0;
}

figcaption{
  font-size: 80%;
  line-height: 120%;
}

#footnote-back{
  visibility: hidden;
}

.footnote-back{
  visibility: hidden;
}


.footnote-ref{
  font-size: 80%;
  text-decoration: none;

  line-height: 120%;
  font-weight: normal;
}

sup{
  font-size: 80%;
  padding-top: 0;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  padding-right: 1%;
}

#footnotes{
  font-size: 80%;
  line-height: 120%;
  font-weight: normal;
}

ol:before {
  content: "End Notes";
  font-weight: bold;
}
ol{
  font-size: 80%;
  line-height: 120%;
  font-weight: normal;
}

#works-cited{
  page-break-before: always !important; /*break page before h1*/
}