 /* style for PDF of publication */

@import url('https://fonts.googleapis.com/css?family=KoHo&display=swap');

@page {
    size: 14.8cm 21cm;
    padding: 0; /* width height */ 
    /* OR */
    /* size: A5 portrait; 
    padding-top:8%;
    padding-bottom: 16%;*/
    }

@page:first {
@bottom-center { content: ""; }
@bottom-right { content: ""; }
}

@page:right {
  padding-left: 0cm; /*inner margin*/
  padding-right:0cm; /*outer margin*/ 

  @top-center {
  content: string(doctitle);
  font-family: 'KoHo', sans-serif;
          font-size: 70%;
        }

	@bottom-center {
       content: counter(page);
          font-family: 'KoHo', sans-serif;
          font-size: 70%;


	}
}

@page:left {
  padding-right: 0cm; /*inner margin*/
  padding-left: 0cm; /*outer margin*/

  	@top-center {
       content: ("Staff Research");
          font-family: 'KoHo', sans-serif;
          font-size: 70%;

   }

    @bottom-center {
       content: counter(page);
          font-family: 'KoHo', sans-serif;
          font-size: 70%;}

}


body{
    font-size: 10pt;
    line-height: 13pt;
    font-family: KoHo;
    text-decoration: none;
    color: black;
 }

h1 {
  string-set: doctitle content();
	page-break-before: always !important; /*break page before h1*/
  font-family: 'KoHo', sans-serif;
  font-size: 20pt;
  line-height: 23pt;

}

h2 {
	page-break-before: avoid !important; /*break page before h2*/
}

h1::after {
  font-style: bold;
  color: green;
  }
  
img{    
	page-break-inside: avoid!important; 
  width: 100%;
}

p{
      
}

a {
	    text-decoration: none;
    color: black;
}

/**
  Insert numbers after toc item in toc
*/
#toc li a::after {
  float: right;
  content: target-counter(attr(href), page);
}

#toc li{
  text-decoration: none;
  list-style-type:none;
  margin-left: 0;
}

ul,li,blockquote{
 margin:0;
 padding:0;
}

#footnote-back{
  visibility: hidden;
}

.footnote-back{
  visibility: hidden;
}


.footnote-ref{
  font-size: 80%;
  text-decoration: none;
}

sup{
  font-size: 80%;
  padding-top: 0;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  padding-right: 1%;
}

#footnotes{
  font-size: 80%;
}
