/* style for PDF of publication */

@page {
    size: 17cm 24cm; /* width height */ 
    /* OR */
    /* size: A5 portrait; 
    padding-top:8%;
    padding-bottom: 16%;*/
    background-color: #fcedca; 
    }

@page:first {
@bottom-center { content: ""; }
@bottom-right { content: ""; }
}

@page:right {
  padding-left: 1cm; /*inner margin*/
  padding-right:1cm; /*outer margin*/ 

	@bottom-center {
       content: counter(page);
          font-family: Merriweather;
          color: #f5aeb3;
          font-size: 80%;


	}
}

@page:left {
  padding-right: 1cm; /*inner margin*/
  padding-left:1cm; /*outer margin*/

  	@top-center {
       content: "Staff Research";
          font-family: Merriweather;
          color: #f5aeb3;
          font-size: 80%;

   }

    @bottom-center {
       content: counter(page);
          font-family: Merriweather;
          color: #f5aeb3;
          font-size: 80%;}

}


body{
    font-size:11pt;

    background-color: #fcedca; 
    color: #174593;
    font-family: Open Sans;
 }

h1 {
	page-break-before: always !important; /*break page before h1*/
  font-family: Merriweather;

}

h2 {
	page-break-before: avoid !important; /*break page before h2*/
}
  
img{    
	page-break-inside: avoid!important; 
  width: 100%;
}

p{
      line-height: 125%; 
}

a {
  color: #f5aeb3;
}

.footnote-ref{
  font-size: 80%;
  text-decoration: none;
}