<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <article id="cover">
        <div> 
            <h1 style="font-size: 300%;line-height: 100%;padding-bottom: 10mm;font-weight: normal;">WdKA Research: <br>A Selection of Contributions to the 15th ELIA Biennial Conference 2018</h1>
            
            <h2 style="font-weight: normal">Willem de Kooning Academy</h2>
        </div>
        
        <!-- You could insert the cover here -->
    </article>
    <article id="toc" style="page-break-before: always !important;">
        <!-- Generate the table of contents -->
        <ul>
            {% for text in TOC %}
                <li>
                    <a href="#{{ text.slug }}">{{ text.title }}</a>
                </li>
            {% endfor %}
        </ul>    
    </article>
    {% for text in TOC %}
        <!-- Loop through the texts and insert their HTML snippet here -->
        <article id="{{ text.slug }}">
            {{ text.html_content }}
        </article>
    {% endfor %}
</body>
</html>