
@import url('https://fonts.googleapis.com/css?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css?family=KoHo:700&display=swap');


/* menu */
html{

	scroll-behavior: smooth;
  font-family: 'KoHo', sans-serif;
  background-color: #7DB6D2;

}

	div.left{
		position: relative;
	 display: inline-block;
		width:30%;
   


	}		


	div.right{
		position: relative;
	    display: inline-block;	
	    width: 40%;
      margin-left: 10%;
     
      padding-bottom: 5%;
	}	

.move{
	height: 900px;
}

#publication_title{
	position: relative;
	max-width: 50%;

	line-height: 1em;


}
.menu {
	position: fixed;
	overflow-x: hidden;
	left: 0%;
	top: 0%;
	max-width:50%;
	padding-left: 10%;
  padding-right: 3%;
 
	

}
ol.menu {}
li.menuitem { }

ul.menu{
  	font-family: 'KoHo', sans-serif;
  	text-decoration:none;
  	position: relative;
  	padding-left: 0%;
  	padding-right: 0%;
    color: black;


  	
  	

}

li.menuitem {
	margin-bottom: 10px;
	list-style-type:none;
  color: black;

 }
li.menuitem span.title{ 
	color: inherit;
	list-style-type:none;
	text-decoration:none;
  color: black;
  font-family: 'KoHo', sans-serif;
  font-weight: bold;

}
li.menuitem span.authors{ 
	display: block; 
	font-size: 15px;
  color: black;

}
li.menuitem a { 
	list-style-type:none;
	text-decoration:none;
  color: black;

}




/* body */

html{
  font-family: 'KoHo', sans-serif;
}

body{
	font-family: 'KoHo', sans-serif;
	padding-right: 10%;
	padding-left: 10%;

}



h1{
	font-family: 'KoHo', sans-serif;
	font-size: 250%;
  line-height: 100%;
	padding-top: 10%;
	margin: 0%;
  padding-bottom: 5%;

}

h2{
  font-family: 'KoHo', sans-serif;

  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1mm;

  margin-bottom: 0;
}

h3{
  font-family: 'KoHo', sans-serif;
	  padding-bottom: 1mm;
  margin-bottom: 0;
  padding-bottom: 0;
}

h4{
  margin-left: 1cm;
  font-weight: normal;
}

h5{
  font-size: 80%;
}

h6{
  font-family: 'KoHo', sans-serif;
  font-weight: normal;
  font-size: 100%;
  margin-left: 0;
  padding-left: 0;
}

p{

 margin-top: 0px;
 font-family: 'KoHo', sans-serif;
}

blockquote{
	
}

figure{	   
	margin:0px;
/*	width: 400px;*/
	}

img {width:100%;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
	}
img:hover{
/*	width: 70%;*/

}

figcaption {
 /*   display: inline-block;*/
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

hr{
}



li{

}

ol:before {
  content: "End Notes";
  font-weight: bold;
  font-family: 'KoHo', sans-serif;
}

#content{

}


[role=doc-endnote]{
    text-decoration: none;
  font-size: 10px;
}

[role=doc-backlink]{
	text-decoration: none;

}

.footnote-ref{
	text-decoration: none;
  font-size: 80%;

}

/* Article specific style */

div#WorkshopofOtherKnowledge body{ 

}

div#WorkshopofOtherKnowledge h1 { 

}

div#WorkshopofOtherKnowledge p { 

}
div#WorkshopofOtherKnowledge a {  }


div#ArtandDesigninNewEconomiesSpeculativeScenariosForReal-lifeInnovations h1 {

}

div#ArtandDesigninNewEconomiesSpeculativeScenariosForReal-lifeInnovations p {
}
div#ArtandDesigninNewEconomiesSpeculativeScenariosForReal-lifeInnovations a { 

}













@media only screen and (max-width: 700px) {
  html,body{
    all: unset;
    width: 100%; overflow-x: hidden;
  }

  body{
    width: 100%;
  }

  div.left{

    width:80%;
    padding: 10%;
  }  
  div.right{

    width:80%;

  }  

  .menu{
    all: unset;

  }

  ul.menu{
    font-family: 'KoHo', sans-serif;
    text-decoration:none;

    color: black;
  }

  #publication_title{
  position: relative;
  max-width: 50%;

  line-height: 1em;

}

li.menuitem {
  margin-bottom: 10px;
  list-style-type:none;
  color: black;

 }
li.menuitem span.title{ 
  color: inherit;
  list-style-type:none;
  text-decoration:none;
  color: black;
  font-family: 'KoHo', sans-serif;
  font-weight: bold;

}
li.menuitem span.authors{ 
  display: block; 
  font-size: 15px;
  color: black;

}
li.menuitem a { 
  list-style-type:none;
  text-decoration:none;
  color: black;

}




h1{
  font-family: 'KoHo', sans-serif;
  font-size: 250%;
  top: 0%;
  margin: 0%;
}

h2{
   margin: 0px;
   padding: 0px;
}

h3{
  font-size: 12pt;
}

p{
 font-size: 20px;
 margin-top: 0px;
}

blockquote{
  font-size: 8pt;
  font-style: italic;
  text-align: center;
}

figure{    
  margin:0px;
/*  width: 400px;*/
  }

img {width:100%;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
  }
img:hover{
/*  width: 70%;*/

}

figcaption {
 /*   display: inline-block;*/
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

hr{
}



li{

}

#content{

}


[role=doc-endnote]{
    text-decoration: none;
  font-size: 10px;
}

[role=doc-backlink]{
  text-decoration: none;

}

.footnote-ref{
  text-decoration: none;
  font-size: 75%;

}



}

