/* menu */
html{
	scroll-behavior: smooth;
}

	div.left{
		position: relative;
	    display: inline-block;
		width:30%;


	}		


	div.right{
		position: relative;
	    display: inline-block;	
	    width: 69%;

	}	
#publication_title{
	color: #f5aeb3;
	position: relative;
	max-width: 50%;
	margin-top:3%;
	line-height: 1em;


}
.menu {
	position: fixed;
	overflow-x: hidden;
	left: 0%;
	top: 0%;
	max-width:50%;
	padding-left: 3%;
  	padding-right: 5%;
	

}
ol.menu {}
li.menuitem { }

ul.menu{
  	font-family: Merriweather;
  	text-decoration:none;
  	position: relative;
  	padding-left: 0%;
  	padding-right: 0%;


  	
  	

}

li.menuitem {
	margin-bottom: 10px;
	list-style-type:none;

 }
li.menuitem span.title{ 
	color: inherit;
	list-style-type:none;
	text-decoration:none;
}
li.menuitem span.authors{ 
	display: block; 
	font-size: .8em;
}
li.menuitem a { 
	list-style-type:none;
	text-decoration:none;
	color: #f5aeb3;
}

/* keywords */
span{
	display: inline;
}

span.keyword{
	font-family: Merriweather;
	color: #f5aeb3;
}

span.keyword:hover{
	font-family: Merriweather;
	color: green;
}

span.hiddenkeyword { display: none; }
span.keyword:hover span.hiddenkeyword { 
	text-decoration:none;
	font-size: 12pt;
	display: block;

}
.hiddenlink{
	text-decoration:none;
	font-size: 12pt;
	color: pink;
}


/* body */


@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

body{

	font-family: Open Sans;
/*	padding-right: 10%;
	padding-left: 35%;*/
	color: #425f95;
}



h1{
	font-size: 250%;
	top: 0%;
	margin: 0%;
}

h2{
}

h3{
	color: grey;
	font-size: 12pt;
}

p{

}

blockquote{
	font-size: 8pt;
	font-style: italic;
	text-align: center;
}

figure{	   
	margin:0px;
/*	width: 400px;*/
	}

img {width:40%;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;}
img:hover{
/*	width: 70%;*/

}

figcaption {
    display: inline-block;
}

hr{
}

#content{
	/*width: 60%;*/
}


[role=doc-endnote]{
}

[role=doc-backlink]{
	text-decoration: none;
	color: pink;
}

.footnote-ref{
	text-decoration: none;
	color: pink;
}

/* Article specific style */

div#WorkshopofOtherKnowledge body{ 

}

div#WorkshopofOtherKnowledge h1 { 
	color: #306c35;
}

div#WorkshopofOtherKnowledge p { 
	color: #306c35;
}
div#WorkshopofOtherKnowledge a {  }


div#ArtandDesigninNewEconomiesSpeculativeScenariosForReal-lifeInnovations h1 {
	color: #174593;
}

div#ArtandDesigninNewEconomiesSpeculativeScenariosForReal-lifeInnovations p {
	color: #174593;
}
div#ArtandDesigninNewEconomiesSpeculativeScenariosForReal-lifeInnovations a { 

}
