{# macro for website menu #}

{% macro menu(TOC) %}
	<ul class="menu">
	{% for item in TOC  %}
	     <li class="menuitem"
	     	 id="text_{{ item.title|replace(' ','_')|lower }}">
	     	<span class="menuitem title"> 
	     		<a href="{{ item.html.split('/')[-1] }}" class="menuitem title">
	     		{{ item.title }}
		     	</a> 
	     	</span>
	     	{% if item.authors %}
	     	<span class="menuitem authors">
	     		By:{{" "}}
	     		{%- for author in item.authors -%}
					{{ author }}
	     			{%- if author == item.authors|last -%}
	     				.
	     			{%- else -%}
	     				,{{" "}}
	     			{%- endif -%} 
	     		{%- endfor -%}
	     	</span>
	     	{% endif %}
	     </li>
	{% endfor %}
	</ul>
{% endmacro %}
